/* @extend display-flex; */
display-flex, .form-flex, .form-date-group, .steps ul, .title, .title .step-number, .actions ul li a, .form-radio-flex, .form-find {
  display: flex;
  display: -webkit-flex; }

/* @extend list-type-ulli; */
list-type-ulli, .steps ul, .actions ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }


a:focus,
a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s; }

input,
select,
textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0; }

input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important; }

input[type=checkbox] {
  appearance: checkbox !important;
  -moz-appearance: checkbox !important;
  -webkit-appearance: checkbox !important;
  -o-appearance: checkbox !important;
  -ms-appearance: checkbox !important; }

input[type=radio] {
  appearance: radio !important;
  -moz-appearance: radio !important;
  -webkit-appearance: radio !important;
  -o-appearance: radio !important;
  -ms-appearance: radio !important; }

.clear {
  clear: both; }

h2 {
  font-size: 30px;
  margin: 0px; }

.main {
  padding: 50px 0;
  position: relative;
  z-index: 999; }

fieldset {
  padding: 0px;
  margin: 0px;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px; }

p.desc {
  margin: 0px;
  margin-bottom: 40px;
  color: #555; }

.form-label {
  display: block;
  width: 100%;
  font-size: 16px;
  margin-bottom: 10px; font-weight: bold;}

.text-input {
  font-size: 12px;
  color: #999;
  display: block;
  margin-top: 5px; }
  .text-input span {
    color: #222;
    font-weight: bold; }

input {
  width: 100%;
  display: block;
  border: 1px solid #ebebeb;
  height: 50px;
  box-sizing: border-box;
  padding: 0 20px;
  color: #222;
  font-weight: bold;
  font-size: 14px;
   }

/* #steps-uid-0-p-0 .form-row, #steps-uid-0-p-0 .form-group, #steps-uid-0-p-0 .form-date {
  width: 680px; } */

.form-flex {
  margin: 0 -10px;
  width: 70%;
}
  .form-flex .form-group {
    width: 50%;
    padding: 0 10px; margin-bottom: 0; }


.form-group,
.form-date {
  margin-bottom: 18px;
  position: relative; }

.form-date-group {
  border: 1px solid transparent;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px; }
  .form-date-group select {
    border: 1px solid #ebebeb;
    width: 100%;
    box-sizing: border-box;
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -o-appearance: none !important;
    -ms-appearance: none !important;
    position: relative;
    background: 0 0;
    z-index: 10;
    cursor: pointer;
    padding: 0 20px;
    height: 50px;
    font-size: 14px;

    color: #999;
    box-sizing: border-box;
    background-color: #fff;
    color: #222;
    font-weight: bold; }

.form-date-item {
  position: relative;
  overflow: hidden;
  width: 100px;
  margin-right: 10px; }

.wizard {
  display: grid;
  max-width: 100%;
  grid-template-rows: auto;
  width: 950px;
  margin: auto;
}
.text-center-all{
  display: grid;
  place-items: center;
}
.content {
  height: auto; }

.steps ul {
  position: relative;
  padding-left: 0;
  border-bottom: 1px solid #ccc;
  width: 100%;
  margin: 0 0 15px;
}
  .steps ul li {
    position: relative;
    z-index: 99;
  width: 50%;
}
    .steps ul li a {
      text-decoration: none;
      color: #222;
      display: block;
      padding: 20px;
      text-align: center;
      cursor: pointer;
    }

    .steps ul li.current:before {
      content: "";
      bottom: -1px;
      left: 0;
      right: 0;
      position: absolute;
      border-bottom: 1px solid #e12d6f;
  }
  .steps ul li.current a,
  .steps ul li:hover a{
    background-color: #e12d6f !important;
    color: #fff;
    font-weight: 700;
  }
  .steps ul li.current:hover{
    top: auto;
  }
.content h3 {
  display: none; }

.search-section{
  margin: 40px 0;
}
.status-grid{
  display: grid;
  grid-auto-flow: column;
}
.actions {
  padding-bottom: 90px; }
  .actions ul {
    padding-left: 45px;
    padding-right: 55px; }
    .actions ul .disabled {
      display: none; }
    .actions ul li {
      float: right; }
      .actions ul li:first-child {
        float: left; }
        .actions ul li:first-child a {
          background: #e8e8e8;
          color: #999; }
      .actions ul li a {
        width: 140px;
        height: 50px;
        color: #fff;
        background: #e12d6f;
        align-items: center;
        -moz-align-items: center;
        -webkit-align-items: center;
        -o-align-items: center;
        -ms-align-items: center;
        justify-content: center;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -o-justify-content: center;
        -ms-justify-content: center;
        text-decoration: none; }

.form-radio-flex {
  flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin: 0 -15px; }
  .form-radio-flex .form-radio-item {
    padding: 0 15px;
    margin-bottom: 25px; }
  .form-radio-flex input {
    width: 0;
    height: 0;
    position: absolute;
    left: -9999px; }
  .form-radio-flex input + label {
    margin: 0px;
    width: 223px;
    height: 133px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    text-align: center;
    text-transform: none;
    transition: border-color .15s ease-out,  color .25s ease-out,  background-color .15s ease-out, box-shadow .15s ease-out; }
    .form-radio-flex input + label img {
      width: 100%;
      height: 100%; }
  .form-radio-flex input:checked + label {
    border: 1px solid #e12d6f;
    z-index: 1; }
  .form-radio-flex input:focus + label {
    outline: none; }
  .form-radio-flex input:hover {
    border: 1px solid #e12d6f; }

label.error {
  display: block;
  position: absolute;
  top: 0px;
  right: 0; }
  label.error:after {
    font-family: 'Material-Design-Iconic-Font';
    position: absolute;
    content: '\f135';
    right: 20px;
    top: 50px;
    font-size: 13px;
    color: #f63726; }

input.error {
  border: 1px solid #f63726; }

#find_bank {
  padding: 0 55px;
  width: 680px;
  margin-right: 20px; }
  /* #find_bank::-webkit-input-placeholder {
    font-weight: 400; }
  #find_bank::-moz-placeholder {
    font-weight: 400; }
  #find_bank:-ms-input-placeholder {
    font-weight: 400; }
  #find_bank:-moz-placeholder {
    font-weight: 400; } */

.submit {
  width: 150px;
  background: #666;
  color: #fff;
  font-weight: 400;
  cursor: pointer; }
  .submit:hover {
    background-color: #4d4d4d; }

.form-find {
  position: relative;
  padding-bottom: 70px;
  border-bottom: 1px solid #ebebeb; }

.form-icon {
  position: absolute;
  top: 12px;
  left: 20px;
  font-size: 18px;
  color: #999; }

.choose-bank-desc {
  color: #666;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 35px; }

#slider-margin {
  height: 9px;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  background: #e8e8e8;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  position: relative;
  margin-top: 110px; }
  #slider-margin .noUi-marker-horizontal.noUi-marker-large, #slider-margin .noUi-marker-horizontal.noUi-marker {
    height: 0px; }
  #slider-margin .noUi-connect {
    background: #e12d6f; }
  #slider-margin .noUi-connects {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px; }
  #slider-margin .noUi-handle {
    width: 15px;
    height: 30px;
    top: -12px;
    background: #e8e8e8;
    outline: none;
    border: none;
    right: -15px;
    border: 1px solid #e12d6f;
    border-radius: 0px; }
    #slider-margin .noUi-handle:after, #slider-margin .noUi-handle:before {
      width: 0px; }
    #slider-margin .noUi-handle .noUi-tooltip {
      bottom: 33px;
      border: none;
      background: transparent;
      font-size: 16px;
      color: #e12d6f;
      padding: 0px; }
  #slider-margin .noUi-pips {
    width: 96%; }
    #slider-margin .noUi-pips .noUi-value {
      top: -50px;
      font-size: 16px;
      color: #666; }
      #slider-margin .noUi-pips .noUi-value:before {
        content: '$'; }
    #slider-margin .noUi-pips .noUi-value-horizontal {
      transform: none;
      -moz-transform: none;
      -webkit-transform: none;
      -o-transform: none;
      -ms-transform: none; }

.your-money {
  font-size: 16px;
  color: #222;
  margin: 0px;
  padding-top: 62px; }
  .your-money .money {
    font-size: 28px;
    font-weight: bold; }

@media screen and (max-width: 1024px) {
  .container {
    /* width: calc(100% - 40px); */
    max-width: 100%; }

  .vertical {
    grid-template-rows: auto;
    grid-template-columns: auto;
  }

  #find_bank {
    width: 100%; }

  .form-radio-flex input + label {
    width: 190px;
    height: 120px; } }
@media screen and (max-width: 992px) {


  .form-radio-flex input + label {
    width: 100px;
    height: 65px; } }
@media screen and (max-width: 768px) {
  #steps-uid-0-p-0 .form-row, #steps-uid-0-p-0 .form-group, #steps-uid-0-p-0 .form-date {
    width: 100%; }

  .form-flex {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    margin: 0px; }

  .form-flex .form-group {
    padding: 0px; }

  fieldset, .actions ul {
    padding-left: 20px;
    padding-right: 20px; }

  #slider-margin .noUi-pips {
    width: 94%; }

  }
@media screen and (max-width: 480px) {
  .form-date-group, .form-find {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column; }

  #find_bank {
    margin-bottom: 20px; }

  .actions ul li a {
    width: 100px; }

  .form-radio-flex {
    margin: 0 -5px; }

  .form-radio-flex .form-radio-item {
    padding: 0 5px; }

  .form-radio-flex input + label {
    width: 90px;
    height: 61px; }
    .status-grid{
      grid-auto-flow: row;
    }
    .form-flex{
      width: 100%;
    }
  }




/** select multiple **/

.ms-options-wrap {
  position: relative;
}

.ms-options-wrap,
.ms-options-wrap * {
  box-sizing: border-box;
}

.ms-options-wrap > button:focus,
.ms-options-wrap > button {
  position: relative;
  width: 100%;
  text-align: left;
  border: 1px solid #ced4da;
  background-color: #fff;
  padding: 0 0 0 15px;
  border-radius: 5px;
  margin-top: 1px;
  font-size: 14px;
  color: #666;
  outline-offset: -2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: url(../images/select-box.jpg) no-repeat scroll right 15px center #fff;
  background-size: 12px 7px;
  height: 40px;
  line-height: 21px;
  font-size: 13px;
  cursor: pointer;
}

.ms-options-wrap > button[disabled] {
  background-color: #e5e9ed;
  color: #808080;
  opacity: 0.6;
}

/* .ms-options-wrap > button:after {
  content: ' ';
  height: 0;
  position: absolute;
  top: 50%;
  right: 5px;
  background: url(../images/select-box.jpg) no-repeat scroll right 15px center #fff;
  background-size: 12px 7px;
} */

.ms-options-wrap.ms-has-selections > button {
  color: #333;
}

.ms-options-wrap > .ms-options {
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: 1px;
  margin-bottom: 20px;
  background: white;
  z-index: 2000;
  border: 1px solid #aaa;
  overflow: auto;
  visibility: hidden;
}

.ms-options-wrap.ms-active > .ms-options {
  visibility: visible
}

.ms-options-wrap > .ms-options > .ms-search input {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-bottom: 1px solid #ced4da;
  outline: none;
  font-weight: 400;
  font-size: 14px;
}

.ms-options-wrap > .ms-options > .no-result-message {
  padding: 4px 5px;
  display: none;
}

.ms-options-wrap > .ms-options .ms-selectall {
  display: inline-block;
  font-size: .9em;
  text-transform: capitalize;
  text-decoration: none;
}
.ms-options-wrap > .ms-options .ms-selectall:hover {
  text-decoration: underline;
}

.ms-options-wrap > .ms-options > .ms-selectall.global {
  margin: 7px 15px;
  color: #e12d6f;
}

.ms-options-wrap > .ms-options > ul,
.ms-options-wrap > .ms-options > ul > li.optgroup ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ms-options-wrap > .ms-options > ul li.ms-hidden {
  display: none;
}

.ms-options-wrap > .ms-options > ul > li.optgroup {
  padding: 5px;
}
.ms-options-wrap > .ms-options > ul > li.optgroup + li.optgroup {
  border-top: 1px solid #aaa;
}

.ms-options-wrap > .ms-options > ul > li.optgroup .label {
  display: block;
  padding: 5px 0 0 0;
  font-weight: bold;
}

.ms-options-wrap > .ms-options > ul label {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 4px 4px 4px 40px;
  margin: 1px 0;
  border: 1px dotted transparent;
}
.ms-options-wrap > .ms-options.checkbox-autofit > ul label,
.ms-options-wrap > .ms-options.hide-checkbox > ul label {
  padding: 4px;
}

.ms-options-wrap > .ms-options > ul label.focused,
.ms-options-wrap > .ms-options > ul label:hover {
  background-color: #efefef;
  border-color: transparent;
}

.ms-options-wrap > .ms-options > ul li.selected label {
  /* background-color: #efefef;
  border-color: transparent; */
}

.ms-options-wrap > .ms-options > ul input[type="checkbox"] {
  margin: 0 5px 0 0;
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
}

.ms-options-wrap > .ms-options > ul label::before {
  background: none repeat scroll 0 0 #EEEEEE;
  border: 1px solid #DDDDDD;
  cursor: pointer;
  height: 20px;
  left: 15px;
  position: absolute;
  top: 0;
  width: 20px;
  content: "";
}
.ms-options-wrap > .ms-options > ul label:after {
  border-style: none none solid solid;
  content: "";
  height: 6px;
  left: 20px;
  opacity: 0;
  position: absolute;
  top: 6px;
  -ms-transform:rotate(-45deg); /* IE 9 */
  -webkit-transform:rotate(-45deg); /* Safari and Chrome */
  transform:rotate(-45deg);
  width: 10px;
}

.ms-options-wrap > .ms-options > ul li.selected label:after {
  opacity: 1;
}

.ms-options-wrap > .ms-options > ul label{
  position: relative;
  width: auto;
  cursor: pointer;
  padding: 0 0 0 50px;
  font-size: 13px;
  line-height: 21px;
}

.ms-options-wrap > .ms-options.hide-checkbox > ul input[type="checkbox"] {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.search-button .btn-pink{
  padding: 15px 30px;
  margin: 0 0 30px;
}

.tab-body{
  display: none;
}
.tab-body.current{
  display: block;
}